
<div class="container">
  <div class="row">
    <h1 class="text-center text-primary" >From Event</h1>
    <div class="col-2">
      <button class="btn btn-primary mr-1" #eventBtn >Click Me </button>
      <button class="btn btn-danger" #clearBtn >Clear</button>
    </div>
    <div class="col-6">
      <ul class="list-group">
        <li *ngFor="let count of listCountArr"  class="list-group-item">
          Event Clicked
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <h1 class="text-center text-primary" >Interval & Timer</h1>
    <div class="interval-container col-6">
      <p class="text-bold text-secondary h2">Interval</p>
      <ul class="list-group" #intervalList></ul>
    </div>
    <div class="timer-container col-6">
      <p class="text-bold text-secondary h2">Timer</p>
      <ul class="list-group" #timerList></ul>
    </div>
  </div>
  
  <div class="row">
    <h1 class="text-center text-primary" >of & from & toArray</h1>
    <div class="of-container col-6">
      <ul class="list-group" #ofList></ul>
    </div>
    <div class="of-container col-6">
      <ul class="list-group" *ngFor="let animal of animalName$ | async">
        <li>{{ animal }}</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <h1 class="text-center text-primary mt-5" >Observable</h1>
    <div class="col-6">
      <p class="text-bold text-secondary">Ex- 01 Custom Observable</p>
      <ul class="list-group">
        <li *ngFor="let flower of flowersArr"  class="list-group-item">
          {{flower}}
        </li>
      </ul>
    </div>
    <div class="col-6">
      <p class="text-bold text-secondary">Ex- 01 Manual</p>
    </div>
  </div>

  <div class="row">
    <h1 class="text-center text-primary mt-5" >Take, TakeLast, TakeUntil</h1>
    <div class="col-6">
      <p class="text-bold text-secondary">Take: </p>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let count of takeInterval$ | async">
          {{ count }}
        </li>
      </ul>
    </div>
    <div class="col-6">
      <p class="text-bold text-secondary">Take Until: </p>
      <button class="btn btn-danger" (click)="handleStopUntil()">Stop Until</button>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let count of takeUntilInterval$| async">
          {{ count }}
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <h1 class="text-center text-primary mt-5" >Retry, RetryWhen, Scan, Delay</h1>
    <div class="col-6">
      <button class="btn btn-primary" (click)="fetchDetails()">Fetch Details {{ retryCount ? retryCount : '' }}</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="text-primary text-center">Distinct & Distinct Until Changed</h2>
      <input type="text" class="form-control" placeholder="search here" aria-label="Server" #distinctInput >
      <p [ngClass]="{'text-success': searchingValue.length}">Searching start... {{ searchingValue }}</p>
    </div>
  </div>

  <div class="row mb-10">
    <h1>asdadasd</h1>
  </div>
</div>